@import "./colors.scss";
.header{
    background-color: $secondary-color;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-around;
}
.text{
  color: $font-primary;
  margin-top: 20px;
}